<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.message.dao.ImagesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.message.model.Images">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="stu_id" property="stuId"/>
        <result column="type" property="type"/>
        <result column="resver1" property="resver1"/>
        <result column="resver2" property="resver2"/>
        <result column="resver3" property="resver3"/>
        <result column="resver4" property="resver4"/>
    </resultMap>

</mapper>
